p {
  background-color:rgb(195, 43, 226, 0.239); 
}
#alttext {
  background-color: rgb(58, 57, 58);
  color:powderblue;
}
#altbody {
  background-color: rgb(218,118,218);
}
#city-name {
  background-color: rgb(85, 165, 116);
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 20px;
}
#header {
  background-color: bisque;
  padding: 30px;
  text-align:center;
}
#city-body {
  background-color: rgb(96, 190, 116);
}
.city-name {
  background-color: coral;
  font-size: 30px;
}
.asd {
  background-color: transparent;
}
.button {
  background-color: white;
  padding:2px;
  border: dotted;
  border-radius: 2px;
  border-color: sienna;
  cursor:pointer;
}
.button:hover {
  background-color: rgb(145, 144, 144);
}
#my-header {
  background-color: rgb(241, 241, 241);
  color: hsl(196, 32%, 25%);
  padding: 67px;
  text-align: center;
  border: solid;
  border-top-color: red;
  border-left-color: orange;
  border-right-color: yellow;
  border-bottom-color: blue;
}
.body {
  height:1000px;
  background-image:linear-gradient(sienna,green,blue);
}
#yay {
  border-left-color: black;
  border-right-color: black;
  border-top-color: salmon;
  border-bottom-color: salmon;
  border: 10px,solid;
}